.popup__close-button {
  position: absolute;
  width: 32px;
  height: 32px;
  right: -40px;
  top: -40px;
  cursor: pointer;
  border: none;
  background: transparent;
}

.popup__close-button::before {
  position: absolute;
  content: "";
  height: 30px;
  border: 3px solid white;
  border-radius: 2px;
  top: 0;
  transform: skew(45deg);
}

.popup__close-button::after {
  position: absolute;
  content: "";
  height: 30px;
  border: 3px solid white;
  top: 0;
  transform: skew(-45deg);
  border-radius: 2px;
}
